
body {
    background-color: #f8f9fa;
    padding: 20px;
}

header {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
}

.nav-tabs-box {
    position: relative;
    top: 10px;
    border: 1px solid #000000;
}

.nav-tabs-box ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
}

/* 탭박스 중앙으로? */
.nav-tabs-box li {
    list-style-type: none;
    background-color: white;
}

.nav-tabs-box .nav-link {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    height: 100%;
    width: 100%;
    border: 4px solid #000000;
    color: #495057;
    background-color: white;
    border-radius: 0;
}

.nav-tabs-box .nav-link.active {
    color: #007bff;
    border-color: white;
}

.nav-link.gahyeon {
    color: white;
    background-color: #AD88BE;
}

.custom-box {
    box-sizing: border-box;
    width: 1320px;
    height: 600px;
    padding: 20px;
    margin-top: 10px;
    border: 4px solid #2d2d2d;
    background-color: #fff;
}

.background-color.gahyeon {
    color: white;
    background-color: #AD88BE;
}

.card.gahyeon {
    width: 288px;
    height: 480px;
    border: 4px solid black;
    box-shadow: 20px 10px #1f1f1f;
    margin: 20px;
    color: #000000;
    background-color: white;
}

.info-wrap {
    display: flex;
    flex-direction: row;
}

.info {
    margin: 20px;
    width: 800px;
    height: 470px;
    display: flex;
    flex-direction: column;
}

.info-1 {
    display: flex;
    flex-direction: row;
    width: 790px;
    height: 250px;
    margin-bottom: 25px;
}

.image.gahyeon {
    width: 281.3px;
    height: 340px;
}

.profile.gahyeon {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mbti.gahyeon {
    position: relative;
    left: 910px;
    top: -520px;
    width: 320px;
    height: 240px;
    border: 4px solid black;
    box-shadow: 20px 10px #1f1f1f;
    margin: 20px;
    color: #000000;
    background-color: white;
}

.proscons.gahyeon {
    position: relative;
    left: 45px;
    top: -510px;
    color: #000000;
    background-color: white;
    width: 470px;
    height: 250px;
    box-shadow: 20px 10px #1f1f1f;
    padding: 20px;
}

.proscons.gahyeon3 {
    margin-top: 40px;
}

.style.gahyeon {
    background-color: white;
    width: 650px;
    height: 250px;
    box-shadow: 20px 10px #1f1f1f;
    padding: 40px;
    margin: 70px;
}

.style.gahyeon3 {
    margin-top: 30px;
}

.ticket.gahyeon {
    position: relative;
    z-index: -1;
    top: 10px;
    right: 100px;
}

.ticket-img {
    width: 540px;
    height: 400px;
    filter: drop-shadow(10px 10px black);
}

.github.gahyeon {
    padding: 10px;
    position: relative;
    left: 60px;
    top: -400px;
    font-size: xx-large;
    color: #000000
}

.github.gahyeon2 {
    position: relative;
    left: 60px;
    top: -420px;
    font-size: x-large;
}

.velog.gahyeon {
    margin-top: 30px;
    position: relative;
    left: 15px;
    top: 40px;
    font-size: xx-large;
    color: #000000
}

.velog.gahyeon2 {
    position: relative;
    left: 0px;
    top: 30px;
    font-size: x-large;
    color: #000000
}

.part-img {
    position: relative;
    left: -1350px;
    top: 70px;
}