* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #f8f9fa;
  padding: 20px;
}

header {
  width: 1320px;
  height: 700px;
  margin: 30px auto;
}

.nav-tabs-box {
  position: relative;
  top: 10px;
}

.nav-tabs-box ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
}

.nav-tabs-box li {
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.nav-tabs-box .nav-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  height: 100%;
  width: 100%;
  border: 4px solid #2d2d2d;
  color: #495057;
  border-radius: 0;
}

.nav-tabs-box .nav-link.active {
  color: #007bff;
  border-bottom: none;
}

.tab-color {
  background-color: white;
}

.custom-box {
  box-sizing: border-box;
  width: 1320px;
  height: 600px;
  padding: 20px;
  background-color: #fff;
  border: 4px solid #2d2d2d;
}

.youngsu-background-color {
  background-color: #fbbd99;
}

article {
  position: relative;
}

.card {
  width: 310px;
  height: 470px;
  border: 3px solid black;
  box-shadow: 20px 10px;
  margin: 20px;
  background-color: white;
}

.wrap {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.wrap2 {
  margin: 30px;
  margin-left: 40px;
  width: 800px;
  height: 470px;
  display: flex;
  flex-direction: column;
}

.youngsuprofile {
  margin: 20px;
}

.youngsuprofile p{
  font-size: 20px;
}

.youngsu-profile-image {
  width: 310px;
  height: 240px;
}

.wrap-2 {
  display: flex;
  flex-direction: row;
  width: 790px;
  height: 250px;
  margin-bottom: 25px;
}

.wrap-2 .youngsumbti {
  width: 310px;
  height: 250px;
  background-color: whitesmoke;
  box-shadow: 20px 10px;
  margin-right: 40px;
  background-color: #fbbd99;
}

.youngsumbti .mbtilayout {
  width: 310px;
  height: 20px;
  background-color: rgb(051, 051, 051);
  padding-bottom: 5px;
}

.youngsumbti .mbtilayout-2 {
  margin: 20px;
}

.youngsumbti span {
  font-size: 100px;
  font-weight: bolder;
  margin: 40px;
}

.mbtilayout img {
  margin-top: 4px;
  margin-left: 8px;
  width: 11px;
  height: 11px;
}

.wrap-2 .youngsuproscons {
  background-color: whitesmoke;
  width: 470px;
  height: 245px;
  box-shadow: 20px 10px;
  padding: 15px 20px 0px 20px;
}

.youngsupros,
.youngsucons {
  margin: 10px;
}

.youngsupros p,
.youngsucons p {
  margin: 0;
  font-size: 20px;
}

.youngsustyle {
  margin-left: 30px;
  margin-top: 30px;
  background-color: whitesmoke;
  width: 755px;
  height: 179px;
  box-shadow: 20px 10px;
  padding: 15px 20px;
  font-size: 20px;
}

.ticket {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 30px;
}

.ticket img {
  width: 400px;
  height: 400px;
}

.ticket:hover {
  transform: translateY(170px);
  transition: 0.5s;
  bottom: 0;
}

.role {
  position: relative
}

.role > img {
  width: 300px;
  height: 150px;
  margin-top: 90px;
  margin-left: 110px;
}

.roletext {
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 15%;
  text-align: center;
  color: black
}